
.Login-area{

  display:flex;
  justify-content: center;
  align-items: center;
  
  width:100vw;
  height: 100vh;
  background-color: rgb(7, 213, 213);
 
  


}

h1{
  font-size: 30px;
  margin-bottom: 40px;
}
form{
  
  background-color: rgb(255, 255, 255);
  width: 40vw;
  border-radius: 10%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  width: 10vw;
  height: 20vh;
}
input{
  border-radius:20px;
  border:1px solid blue;
  text-align:center;
  width: 20vw;
  margin: 10px;
}
#button1{
  margin: 10px;

  border-radius: 30%;
  padding: 10px;
  background-color: rgb(255, 132, 0);
  color: white;
  
}
#button2{
  margin: 10px;
  border-radius: 30%;
  padding: 10px;
  background-color: rgb(0, 253, 240);
  color: white;
}
#button1:hover{
  background-color: rgb(209, 112, 7);
  color: aqua;
  transform: scale(1.1);
  transition: 1s;
}
#button2:hover{
  background-color: rgb(0, 253, 240);
  color: rgb(209, 112, 7);
  transform: scale(1.1);
  transition: 1s;
}